<% provide(:title, 'ログイン') %>
<%= form_tag("/users/sign_in") do %>
  <div class="title">
    ログイン<br>
  </div>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">メールアドレス</label>
      <input type="text" class="form-control"  placeholder="メールアドレスを入力" name="mail">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">パスワード</label>
      <input type="password" class="form-control"  placeholder="パスワードを入力" name="password">
    </div>
    <button type="submit" class="btn btn-primary">送信する</button>
  </form>
  
<% end %>