<% provide(:title, 'ユーザー') %>
<div class="title">
    <%= @user.user_name %>
</div>
<div class="user_profile">    
    <%= image_tag "#{@user.image_name}",class:"user_image"%>
</div>                     
    <br>
<div class="user_profile">         
        <% if @user.id == @now_user.id %>
            <%= link_to "編集","/users/#{@user.id}/update", class: 'btn btn-primary' %>
        <% end %>   
</div>         
<% @posts.each do |post| %>
        <div class="index">
            <%= post.content %>
        </div>
<% end %> 
    