<% provide(:title, 'ユーザー') %>
<div class="title">
    <%= @user.user_name %>
</div>
<div class="">   
    <%= image_tag "#{@user.image_name}" %>
</div>    
    <% if @user.id == @now_user.id %>
        <%= link_to "編集","/users/#{@user.id}/update", class: 'btn btn-primary' %>
    <% end %>        
    <% @posts.each do |post| %>
        <div class="index">
            <%= post.content %>
        </div>
    <% end %> 