<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Twitterとは</title>
        <link rel="stylesheet" href="home.scss">
    </head>
    <body>
      <div class="about-main">
        <h2>TweetAppとは</h2>
        <p>
          SNSサービスです。
          近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
        </p>
      </div>
    </body>
</html>