<% provide(:title, '新規投稿') %>
<%= form_tag("/posts/create") do %>
  <form>  
    <div class="form-group">
        <label for="formGroupExampleInput2">新規投稿</label>
        <input type="text" class="form-control"  placeholder="投稿内容を入力" name="content">
    </div>
    <button type="submit" class="btn btn-primary">送信する</button>
  </form>
<% end %>
